<body>
    <form>
        <label for="numEmp">Numéro Employeur</label>
        <input type="text" id="numEmp" name="numEmp" required>
    
        <label for="numAssureSocial">Numéro Assuré Social</label>
        <input type="text" id="numAssureSocial" name="numAssureSocial" required>
    
        <label for="e_s">Entrée/Sortie</label>
        <input type="text" id="e_s" name="e_s" required>
    
        <label for="date_e_s">Date Entrée/Sortie</label>
        <input type="text" id="date_e_s" name="date_e_s" required>
    
        <button type="submit">Submit</button>
        <button type="button" [routerLink]="['/home']" class="right-btn">Return</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
